:local(.card-body) {
  box-shadow: none !important;

  :global(.ant-card-body) {
    height: 110px;
    display: flex;
    justify-content: space-around;
    border-radius: var(--ant-border-radius-lg);
    border: 1px solid var(--ant-color-border);
  }
}

:local(.row) {
  :global(.ant-col-5) {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

  .label {
    font-weight: var(--font-weight-medium);
  }
}
:local(.card){
  background-color: white;
  height: 178px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  border-radius: 10px;
  overflow: hidden;
  .card-title{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: var(--font-weight-500);
    img{
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
  .card-val{
    font-size: 32px;
    font-weight: var(--font-weight-bold);
    margin: 20px 0;
  }
  .card-desc{
    font-size: 14px;
    color: #969696;
    margin-bottom: 0;
  }
}
